BADR_URL=https://badr.douane.gov.ma:40444/badr/Login
BADR_PASSWORD=
EDGE_PATH=C:/Program Files (x86)/Microsoft/Edge/Application/msedge.exe
BADR_CDP_PORT=9222
BADR_PROFILE_DIR=C:/Temp/badr-edge-profile
BADR_BUREAU_CODE=301
BADR_REGIME_CODE=010
BADR_YEAR=2026

HEADLESS=false
SLOW_MO=50
TIMEOUT=120000
PORT=3001
DUMS_DIR=./dums
OUTPUTS_DIR=./outputs
LOGS_DIR=./logs
SIGNED_LTAS_DIR=./outputs
